<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hong.dao.system.SystemDepartmentMapper">
    <select id="findAll" resultType="com.hong.model.system.SystemDepartment">
        select * from system_department
    </select>
</mapper>